<a href="https://colab.research.google.com/github/Neel7317/den/blob/main/task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive #mount drive for accessing drive data 
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
data=pd.read_html('/content/drive/MyDrive/h.html')[0] #convert html table into dataframe

In [ ]:
data.tail(30) # show dataframe recordes

In [ ]:
a=data['District Name'].unique()

In [ ]:
a

array(['Hassan', 'Chikmagalur', 'Kolar', 'Belgaum', 'Bellary',
       'Bangalore', 'Chamrajnagar', 'Davangere', 'Dharwad', 'Gadag',
       'Madikeri(Kodagu)', 'Haveri', 'Chitradurga', 'Mysore', 'Mandya',
       'Mangalore(Dakshin Kannad)', 'Shimoga', 'Raichur', 'Tumkur',
       'Udupi'], dtype=object)

In [ ]:
def convert_name_int(name):
  name_dict={'Hassan':1, 'Chikmagalur':2, 'Kolar':3, 'Belgaum':4, 'Bellary':5,
       'Bangalore':6, 'Chamrajnagar':7, 'Davangere':8, 'Dharwad':9, 'Gadag':10,
       'Madikeri(Kodagu)':11, 'Haveri':12, 'Chitradurga':13, 'Mysore':14, 'Mandya':15,
       'Mangalore(Dakshin Kannad)':16,'Shimoga':17, 'Raichur':18, 'Tumkur':19,'Udupi':20
       }
  return name_dict[name]

In [ ]:
data['District Name']=data['District Name'].apply(lambda x:convert_name_int(x))

In [ ]:
data.tail()

       Sl no.  District Name  ... Modal Price (Rs./Quintal)   Price Date
35539   35540             20  ...                      1200  28 Jan 2015
35540   35541             20  ...                      1200  28 Jan 2015
35541   35542             20  ...                      1700  21 Jan 2015
35542   35543             20  ...                      1600  14 Jan 2015
35543   35544             20  ...                      1600  07 Jan 2015

[5 rows x 10 columns]

In [ ]:
from sklearn.linear_model import LinearRegression #use linear regression because from dataset it looks to deal with continues value

In [ ]:
model=LinearRegression() #model Initialization

In [ ]:
X=df1[['District Name','Min Price (Rs./Quintal)','Max Price (Rs./Quintal)']] #input feature selection

In [ ]:
y=df1[['Modal Price (Rs./Quintal)']] #label

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0) #spliting data set for training and testing set

In [ ]:
model.fit(X_train,y_train) # fitting the model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=model.predict(X_test) #predicting test values

In [ ]:
y_pred,y_test #compare both actual and precited values it looks good as very near to actual value

(array([[ 611.09306109],
        [1359.34293856],
        [1214.5988888 ],
        ...,
        [ 663.75047096],
        [ 392.12270049],
        [1300.15953066]]),        Modal Price (Rs./Quintal)
 11790                        586
 16623                       1300
 15579                       1200
 6569                        2750
 16316                        700
 ...                          ...
 13175                       1500
 16072                       1400
 21531                        650
 11331                        333
 9769                        1273

 [4970 rows x 1 columns])

In [ ]:
from sklearn.metrics import r2_score #evaluating the model which is look verty good because it value is very much near to 1.
r2_score(y_test, y_pred)

0.9504960067734718

In [ ]:
import pickle # for saving and loading the model

In [ ]:
# Saving model to disk
pickle.dump(model, open('model.pkl','wb'))

In [ ]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[20, 1400, 1800]]))

[[1559.26068388]]